GROQ_API_KEY=replace_this_with_your_key
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_WEB_MODEL=compound-beta-mini
GROQ_SEARCH_DOMAINS=endfield.gryphline.com,www.gryphline.com,gryphline.com,endfield.wiki.gg,arknights.wiki.gg,web-static.hg-cdn.com
