<!DOCTYPE html>
<html lang="en">
<head>
<title>Login</title>
</head>
<body>

<div>
    <form action = "http://localhost:5000/login" method = "post">
        <label for="username">Username </label>
            <input type="text" id="username" name="username">
        <br><br>
        <label for="password">Password </label>
            <input type="text" id="password" name="password">
        <br><br>
        <input type="submit" value="Submit">
    </form>
</div>
<a href="http://localhost:5000/signup">Create account</a>

</body>
</html>